.card-img-top{
    height: 100px;
    max-width: 100%;
    object-fit: contain;  
}
.card{
    padding: 0.3rem;
}
.card-body{
    padding: 0.5rem;
}
.card-title{
    font-size: 1.3rem;
    margin: 0;
}
.input__limit{
   
    text-align: center;
}
.text-limit{
    font-size: 0.6rem;
    text-align: justify;
    display: block;
    width: 100%;
}
.card-title {
    font-size: 1rem;
}